<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/alerts.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <title>ITVG - Image to Vk Graffity</title>
    <script type="text/javascript" src="https://use.fontawesome.com/a2b47f2575.js"></script>
    <!-- <link rel="stylesheet" href="/public/css/ibstyle.css"> -->
    <title>ITVS</title>
</head>
<body>
    <ul id="alerts" class="messenger messenger-fixed messenger-on-top messenger-on-right messenger-theme-air">
        <!-- <li class="messenger-message-slot messenger-shown messenger-first messenger-last">
            <div class="messenger-message message alert success message-success alert-success messenger-will-hide-after">
                <button type="button" class="messenger-close">×</button>
                <div class="messenger-message-inner">ЕБАТЬ СООБЩЕНИЕ!</div>
                <div class="messenger-spinner">
                    <span class="messenger-spinner-side messenger-spinner-side-left">
                        <span class="messenger-spinner-fill"></span>
                    </span>
                    <span class="messenger-spinner-side messenger-spinner-side-right">
                        <span class="messenger-spinner-fill"></span>
                    </span>
                </div>
            </div>
        </li> -->
    </ul>
    {{{body}}}
    <script src="/public/js/alerts.js"></script>
    <script src="/public/js/fileloader.js"></script>
</body>
</html>
