<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/alerts.css">
    <link rel="stylesheet" href="/public/css/ibstyle.css">
    <title>ITVS</title>
</head>
<body>
    <div class="alerts" id="alerts"></div>
    {{{body}}}
    <script src="/public/js/alerts.js"></script>
    <script src="/public/js/fileloader.js"></script>
</body>
</html>
