Код: <b>{{code}}</b> <br>
Access Token: <b>{{access_token}}</b> <br>
User id: <b>{{user_id}}</b> <br>

<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="document" />
  <input type="submit" value="Поехали" />
</form>
<a href="/signin">Авторизироваться</a>
