<a href="/signin"><input type="button" value="Авторизироваться"></a> <br>
Код: <b>{{code}}</b> <br>
Access Token: <b>{{access_token}}</b> <br>
User id: <b>{{user_id}}</b> <br>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="document" />
    <input type="submit" value="Поехали" />
</form>
<div class="mainProgressBar" id="mainProgressBar">
    Переместите сюда файлы
</div>
<div class="fileloader" id="fileloader">
    Переместите сюда файлы
</div>
<table class="fileStack" id="fileStack">

</table>
