body {
    font-family: 'Open Sans', sans-serif;
    background: #f1f1f1;
}
b {
    font-size:110%;
    font-weight: 400;
    color: #0058ff
}
input[type=submit], input[type=button], button{
    background: #0058ff;
    color: #fff;
    border: none;
    border: none;
    border-radius: 2px;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: box-shadow .1s cubic-bezier(.4,0,1,1),background-color .1s cubic-bezier(.4,0,.2,1),color .1s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
input[type=submit]:hover, input[type=button]:hover{
    box-shadow: -2px 4px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.fileloader {
    background: #fff;
    border-radius: 2px;
    height: 100px;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 0;
    transition: box-shadow .1s cubic-bezier(.4,0,1,1),background-color .1s cubic-bezier(.4,0,.2,1),color .1s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.fileBlock{
    padding: 15px;
}
.progressBar{
    width:0;
    height:5px;
    background: red;
    transition: 0.3s;
}
.mainProgressBar{
    width:0;
    height:5px;
    background: red;
    transition: 0.3s;
}
